---
//@ts-nocheck
import data from "@data/employees.json";
const { name, description, title, url, platform, img, slug } = Astro.props;
---

<div class="employeeCard">
    <div class="portrait">
        <img src={img} alt={slug} />

        <p class="title">{title}</p>

        <h6>{name}</h6>
        <p>{description}</p>
        <div class="icons">
            <a href={url}><img src="/icons/instagram.svg" alt={platform} /></a>
            <a href={url}><img src="/icons/facebook.svg" alt={platform} /></a>
            <a href={url}><img src="/icons/twitter.svg" alt={platform} /></a>
        </div>
    </div>
</div>

<style>
    @layer components {
        .portrait {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 1rem;
            gap: 1rem;
            border-radius: 20px;
            text-align: center;
            color: var(--primary-black);

            max-width: 300px;
            transition:
                transform 0.2s ease,
                box-shadow 0.2s ease;

            position: relative;
        }

        .portrait img {
            border-radius: 20px;
        }
        .title {
            position: absolute;
            top: 17rem;
            right: 3rem;
            z-index: 10;

            width: fit-content;
            border-radius: 20px;
            background: var(--primary-black);
            color: var(--secondary-white);
            font-size: 14px;
            padding: 0 14px;
        }
        .title:hover {
            background: var(--secondary-white);
            color: var(--primary-black);
        }

        .portrait:hover {
            transform: translateY(10px);
            box-shadow: 0 10px 22px rgba(0, 0, 0, 0.25);
            background-color: var(--secondary-white);
            color: var(--primary-black);

            .title {
                background: var(--primary-yellow);
                color: var(--primary-black);
            }
        }
        .portrait p {
            font-size: 13px;
            margin: 0 0.5rem 0 0.5rem;
        }
        div.icons {
            display: flex;
            justify-content: space-between;
        }
        .icons a img {
            width: 24px;
            height: 23px;
        }
    }
</style>
